body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #4cac20, #110e14);
  margin: 0;
  padding: 0;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.header {
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: rgba(87, 77, 77, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.sidebar {
  position: fixed;
  top: 20px;
  right: 20px; /* Changed from left to right */
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Changed from flex-start to flex-end */
}

.hamburger {
  cursor: pointer;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}

.nav-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-menu a {
  display: block;
  padding: 10px 20px;
  margin: 5px 0;
  color: #333;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.nav-menu a:hover {
  background-color: #5effbc;
  color: #000;
}

.menu-hidden {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  background-color: rgba(48, 47, 47, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  flex-grow: 1;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
